<div class="col-sm-6 col-md-4">
 	<div class="thumbnail thumb-box">
    	<%= image_tag( @movie.my_url , size: "300x300" ) %>
  	</div>
</div>
<div class="col-sm-6 col-md-8">
	<h1>Buy <%= @movie.title %></h1> 	
	<%= render "form" %>  	
</div>

<script type="text/javascript">
	var brain;
	brain = function() {
		var braintree = Braintree.create("<%= ENV['BRAINTREE_CLIENT_SIDE_ENCRYPTION_KEY'] %>");
	    braintree.onSubmitEncryptForm('braintree-payment-form');
	  }
	  braintree.setup("<%= @client_token %>", "dropin", {
	    container: "card-fields",
	    paypal: {
	      singleUse: false
	    }
	  })
	  $(brain);
</script>